################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ATZ.ObservableObject/obj/Debug
/ATZ.ObservableObject/obj/Debug
